<div class="card border-bottom-danger shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-danger">Customer ID doesn't exist. Please input a valid customer ID.</h6>
    </div>
</div>