@*@model Bank.Core.ViewModels.IndexViewModel*@

@{
    ViewData["Title"] = "Home Page";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Overview</h1>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("BankStatisticsComponent").ConfigureAwait(false)