@model Bank.Core.ViewModels.Statistics.StatisticsCardViewModel

<div class="col-lg-3 col-6">
    <div class="small-box bg-@Model.Colour">
        <div class="inner">
            <h3>@Model.Text</h3>
            <p>@Model.Title</p>
        </div>
        <div class="icon">
            <i class="@Model.Icon"></i>
        </div>
    </div>
</div>