@model Bank.Web.ViewModels.Customers.CustomerDetailsViewModel

@{
    ViewData["Title"] = "Customer Information";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Customer Details</h1>
            </div>
        </div>
    </div>
</section>


<partial name="_CustomerDetailsOverView" model="@Model" />
<partial name="_CustomerAccountsOverView" model="@Model.Accounts" />
