@model Bank.Web.ViewModels.Transactions.TransactionDetailsListViewModel

@{
    ViewBag.Title = "Transaction Details";
    Layout = "_Layout";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Transaction Details</h1>
            </div>
        </div>
    </div>
</section>

<div class="col-12">
    <partial name="Transactions/_TransactionDetailsTable" model="@Model" />
    <form asp-controller="Transaction"
          asp-action="SingleTransactionPartial"
          asp-route-accountId="@Model.AccountId"
          asp-route-skip=""
          data-ajax="true"
          data-ajax-method="GET"
          data-ajax-mode="after"
          data-ajax-update="#transactions">
        <input id="skip" name="skip" value="0" type="hidden" />
        <button onclick='document.getElementById("skip").value = parseInt(document.getElementById("skip").value) + @Model.TransactionsToSkipInList' type="submit" class="btn btn-block btn-secondary btn-flat btn-sm m-0" style="width: 200px">Load More</button>
    </form>
</div>

