@model Bank.Web.ViewModels.Transactions.TransferViewModel
@{
    ViewBag.Title = "Transfer";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Transfer</h1>
            </div>
        </div>
    </div>
</section>

<div class="col-md-4 mx-auto">
    <form asp-controller="Transaction" , asp-action="Transfer" method="post">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">Transfer between accounts</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>From Account</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-id-card"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" asp-for="AccountId">
                        <span asp-validation-for="AccountId" class="text-danger validation-summary-errors"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Too Account</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-id-card"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" asp-for="ToAccountId">
                        <span asp-validation-for="ToAccountId" class="text-danger validation-summary-errors"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Amount</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-money-bill-alt"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" asp-for="Amount">
                        <span asp-validation-for="Amount" class="text-danger validation-summary-errors"></span>
                    </div>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" asp-for="ToAnotherBank">
                    <label class="form-check-label" for="exampleCheck1">Transfer to another bank</label>
                    <span asp-validation-for="ToAnotherBank" class="text-danger validation-summary-errors"></span>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-secondary">Transfer</button>
            </div>
        </div>
    </form>
</div>

@section Scripts
{

    <script>
        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }
        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
    </script>
}